.bg-nav{
    color: #000;
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
}
#bg-nav{
    background: #139dea;
}

#bg-sidebar{
    border-right: solid 0px #cccccc;
    box-shadow: 0px 0px 3px 0px #666666;
    background: #2d323e;
}

#bg-head-sidebar{
    background: #00c0ef;
    /*
   color: #000;
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
    */
}

#bg-head-sidebar-orange{
    background: #db8b0b;
}

#bg-nav-orange{
    background: #f39c12;
}

#bg-head-sidebar-line{
    background: #232a37;
}

.control-logo{
    border-bottom: solid 3px #cccccc;
}


#bg-nav-line{
    background: #454954;
    color: #cccccc;
}

#bg-nav-line a{
    color: #cccccc;
}

#bg-nav-line .tab-panel{

}

#btn{
    text-align: center;
}

#btn:hover{
    background: #cccccc;
    text-align: center;
}
#bg-blue-lights{
    background:#52b2e4;
}

::-webkit-scrollbar
{
    width: 10px;  /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: #666666;
}

::-webkit-scrollbar-thumb
{
    background: #990000;
}

.text-red{
    color: #ff0033;
}

.text-green{
    color: #66cc00;
}

.text-orange{
    color: #ff9900;
}

.text-blue{
    color: #3399ff;
}

#hr{
    border-bottom:#999999 3px solid;
}


#btn-circle{
    padding: 12px 15px;
    border-radius: 50px;
}

#content-service .tab-pane{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #22252c;
    margin: 0px;
}

#content-service{
    background: #22252c;
}


#content-service input{
    background: #454954;
    border: none;
}

#content-service #textarea{
    background: #454954;
    border: none;
}


#content-service .input-group-addon{
    background: #2e3138;
    border: none;
    color: #FFFFFF;
}

.main-header{
    border-bottom: 0px solid #cccccc;
    box-shadow: 0px 0px 5px 0px #666666;
}

#bg-content{
    background: #2e3138;
}


#btn-mt{
    border:none;
    border-radius: 0px;
    box-shadow: 0px 0px 3px 0px #cccccc;
}

#btn-mt hover{
    opacity: 0.8;
}

#popup-detail table{
    background: #FFFFFF;
}